@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
@font-face {
    font-family:Akira-Expanded;
    src: local("Akira-Expanded"),
    url('./assets/font/Akira-Expanded.ttf') format("truetype");
}

body {
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}



html::-webkit-scrollbar {
    width: 0.2rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
    background: rgb(46, 46, 46);
    border-radius: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #01FFD1;
    border-radius: 1rem;
}
.connect {
    transform: translateY(60px);
    transition: all ease-in-out 400ms;
}

.connect-parent:hover .connect {
    transform: translateY(-63px);
}

@media (min-width: 640px) {
    .connect {
            transform: translateY(60px);
            transition: all ease-in-out 400ms;
        }
    
        .connect-parent:hover .connect {
            transform: translateY(-63px);
        }
    /* Styles for screens 640px and above */
}

/* Medium devices (md) */
@media (min-width: 768px) {
    /* Styles for screens 768px and above */
    .connect {
            transform: translateY(66px);
            transition: all ease-in-out 400ms;
        }
    
        .connect-parent:hover .connect {
            transform: translateY(-69px);
        }
}


